<header class="navbar-principal-primary">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <div class="container">
                <div class="logo-full-tier1 visible-xs visible-sm visible-md">
                    <a href="#placeholder" class="navbar-brand logo-full-white">Principal</a>
                </div>
                <ul class="mobile-nav-right visible-xs visible-sm visible-md">
                    <li>
                        <a class="navbar-toggle mobile-nav-logout-btn" routerLink="/subscriptions">
                            <i class="fa fa-envelope-o"></i>
                            Subscriptions
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="container panel">
            <div class="collapse navbar-collapse" id="principal-primary-navbar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden-xs hidden-sm logo-full-tier1">
                        <a class="logo-full-white" id="tstpa-header-logo" routerLink="/search">
                            Principal
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm hidden-md">
                    <li>
                        <a id="subscriptions-link" class="navbar-toggle" routerLink="/subscriptions"><i class="fa fa-envelope-o"></i>
                            Subscriptions
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
